[
  <%- @operations.each do |operation| -%>
  <%- unless operation.fields.empty? -%>
  {
    "name" => "<%= operation.name %>",
    "url" => "<%= operation.url %>",
    "fields" => [
      <%- operation.fields.each do |field| -%>
      {
        "name" => "<%= field.name %>",
        "field" => "<%= field.field %>"
      },
      <%- end -%>
    ]
  },
  <%- end -%>
  <%- end -%>
]
